/* KoPubBatang Font 
================================================ */

@font-face {
    font-family: KoPubBatang-Regular;
    src: url(../fonts/KoPubBatang-Regular.ttf);
}
@font-face {
    font-family: KoPubBatang-Light;
    src: url(../fonts/KoPubBatang-Light.ttf);
}
@font-face {
    font-family: KoPubBatang-Bold;
    src: url(../fonts/KoPubBatang-Bold.ttf);
}

/*  KoHo Font 
================================================ */

@font-face {
    font-family: KoHo-Regular;
    src: url(../fonts/KoHo-Regular.ttf);
}
@font-face {
    font-family: KoHo-Light;
    src: url(../fonts/KoHo-Light.ttf);
}
@font-face {
    font-family: KoHo-Bold;
    src: url(../fonts/KoHo-Bold.ttf);
}